mixin slide__bar(site)
    .sidebar.is-sticky
        .sidebar__user.d-flex.align-items-center
            img.user__photo(class="lazy" data-src="./assets/images/my-account/user-photo.svg" src="./assets/images/my-account/user-photo.svg" alt="")
            .user__full-name
                h5.h5-16.bold.p-0.m-0 Nguyễn Hoà An
                h6.h6-14.regular.m-0 Đại học Mở
        .sidebar__dashboard
            ul(role="tablist").nav.nav-tabs.flex-column
                li.nav-item(class=`${site === "book" ? 'active': ''}`)
                    .nav-line
                    #main
                        .container.p-0
                          #faq.accordion
                            .card
                              #faqhead1.card-header.p-0.bg-white
                                a.btn-header-link.nav-link.shadow-none(href='#' data-toggle='collapse' data-target='#faq1' aria-expanded='true' aria-controls='faq1')
                                    img(class="lazy" data-src="./assets/images/my-account/book.svg" src="./assets/images/my-account/book.svg" alt="")
                                    |Sách của bạn 
                                    span.bold (25)
                              #faq1.collapse.show(aria-labelledby='faqhead1' data-parent='#faq')
                                    .card-body.p-0
                                        ul.list-sub
                                            li.item-sub.d-flex.align-items-center
                                                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0.666748 1.50016C0.666748 1.13197 0.965225 0.833496 1.33341 0.833496H5.33341C6.21747 0.833496 7.06532 1.18469 7.69044 1.80981C8.31556 2.43493 8.66675 3.28277 8.66675 4.16683V13.5002C8.66675 13.8684 8.36827 14.1668 8.00008 14.1668C7.63189 14.1668 7.33341 13.8684 7.33341 13.5002C7.33341 13.1465 7.19294 12.8074 6.94289 12.5574C6.69284 12.3073 6.3537 12.1668 6.00008 12.1668H1.33341C0.965225 12.1668 0.666748 11.8684 0.666748 11.5002V1.50016ZM7.33341 11.1908V4.16683C7.33341 3.6364 7.1227 3.12769 6.74763 2.75262C6.37256 2.37754 5.86385 2.16683 5.33341 2.16683H2.00008V10.8335H6.00008C6.47223 10.8335 6.93148 10.9587 7.33341 11.1908Z' fill='#828282')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M8.30972 1.80981C8.93485 1.18469 9.78269 0.833496 10.6667 0.833496H14.6667C15.0349 0.833496 15.3334 1.13197 15.3334 1.50016V11.5002C15.3334 11.8684 15.0349 12.1668 14.6667 12.1668H10.0001C9.64646 12.1668 9.30732 12.3073 9.05727 12.5574C8.80722 12.8074 8.66675 13.1465 8.66675 13.5002C8.66675 13.8684 8.36827 14.1668 8.00008 14.1668C7.63189 14.1668 7.33341 13.8684 7.33341 13.5002V4.16683C7.33341 3.28277 7.6846 2.43493 8.30972 1.80981ZM8.66675 11.1908C9.06868 10.9587 9.52793 10.8335 10.0001 10.8335H14.0001V2.16683H10.6667C10.1363 2.16683 9.62761 2.37754 9.25253 2.75262C8.87746 3.12769 8.66675 3.6364 8.66675 4.16683V11.1908Z' fill='#828282')
                                                p.h6-14 Sách giấy 
                                                    span.bold (15)
                                            li.item-sub.d-flex.align-items-center
                                                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0.666748 1.50016C0.666748 1.13197 0.965225 0.833496 1.33341 0.833496H5.33341C6.21747 0.833496 7.06532 1.18469 7.69044 1.80981C8.31556 2.43493 8.66675 3.28277 8.66675 4.16683V13.5002C8.66675 13.8684 8.36827 14.1668 8.00008 14.1668C7.63189 14.1668 7.33341 13.8684 7.33341 13.5002C7.33341 13.1465 7.19294 12.8074 6.94289 12.5574C6.69284 12.3073 6.3537 12.1668 6.00008 12.1668H1.33341C0.965225 12.1668 0.666748 11.8684 0.666748 11.5002V1.50016ZM7.33341 11.1908V4.16683C7.33341 3.6364 7.1227 3.12769 6.74763 2.75262C6.37256 2.37754 5.86385 2.16683 5.33341 2.16683H2.00008V10.8335H6.00008C6.47223 10.8335 6.93148 10.9587 7.33341 11.1908Z' fill='#828282')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M8.30972 1.80981C8.93485 1.18469 9.78269 0.833496 10.6667 0.833496H14.6667C15.0349 0.833496 15.3334 1.13197 15.3334 1.50016V11.5002C15.3334 11.8684 15.0349 12.1668 14.6667 12.1668H10.0001C9.64646 12.1668 9.30732 12.3073 9.05727 12.5574C8.80722 12.8074 8.66675 13.1465 8.66675 13.5002C8.66675 13.8684 8.36827 14.1668 8.00008 14.1668C7.63189 14.1668 7.33341 13.8684 7.33341 13.5002V4.16683C7.33341 3.28277 7.6846 2.43493 8.30972 1.80981ZM8.66675 11.1908C9.06868 10.9587 9.52793 10.8335 10.0001 10.8335H14.0001V2.16683H10.6667C10.1363 2.16683 9.62761 2.37754 9.25253 2.75262C8.87746 3.12769 8.66675 3.6364 8.66675 4.16683V11.1908Z' fill='#828282')
                                                p.h6-14 Ebook  
                                                    span.bold (15)
                                            li.item-sub.d-flex.align-items-center
                                                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M6.99992 2.16659C5.58543 2.16659 4.22888 2.72849 3.22868 3.72868C2.22849 4.72888 1.66659 6.08543 1.66659 7.49992V11.4999C1.66659 11.8681 1.36811 12.1666 0.999919 12.1666C0.631729 12.1666 0.333252 11.8681 0.333252 11.4999V7.49992C0.333252 5.73181 1.03563 4.03612 2.28587 2.78587C3.53612 1.53563 5.23181 0.833252 6.99992 0.833252C8.76803 0.833252 10.4637 1.53563 11.714 2.78587C12.9642 4.03612 13.6666 5.73181 13.6666 7.49992V11.4999C13.6666 11.8681 13.3681 12.1666 12.9999 12.1666C12.6317 12.1666 12.3333 11.8681 12.3333 11.4999V7.49992C12.3333 6.08543 11.7713 4.72888 10.7712 3.72868C9.77096 2.72849 8.41441 2.16659 6.99992 2.16659Z' fill='#828282')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0.333252 8.83325C0.333252 8.46506 0.631729 8.16659 0.999919 8.16659H2.99992C3.53035 8.16659 4.03906 8.3773 4.41413 8.75237C4.78921 9.12745 4.99992 9.63615 4.99992 10.1666V12.1666C4.99992 12.697 4.78921 13.2057 4.41413 13.5808C4.03906 13.9559 3.53035 14.1666 2.99992 14.1666H2.33325C1.80282 14.1666 1.29411 13.9559 0.919038 13.5808C0.543966 13.2057 0.333252 12.697 0.333252 12.1666V8.83325ZM1.66659 9.49992V12.1666C1.66659 12.3434 1.73682 12.513 1.86185 12.638C1.98687 12.763 2.15644 12.8333 2.33325 12.8333H2.99992C3.17673 12.8333 3.3463 12.763 3.47132 12.638C3.59635 12.513 3.66659 12.3434 3.66659 12.1666V10.1666C3.66659 9.98977 3.59635 9.82021 3.47132 9.69518C3.3463 9.57016 3.17673 9.49992 2.99992 9.49992H1.66659ZM10.9999 9.49992C10.8231 9.49992 10.6535 9.57016 10.5285 9.69518C10.4035 9.82021 10.3333 9.98977 10.3333 10.1666V12.1666C10.3333 12.3434 10.4035 12.513 10.5285 12.638C10.6535 12.763 10.8231 12.8333 10.9999 12.8333H11.6666C11.8434 12.8333 12.013 12.763 12.138 12.638C12.263 12.513 12.3333 12.3434 12.3333 12.1666V9.49992H10.9999ZM9.58571 8.75237C9.96078 8.3773 10.4695 8.16659 10.9999 8.16659H12.9999C13.3681 8.16659 13.6666 8.46506 13.6666 8.83325V12.1666C13.6666 12.697 13.4559 13.2057 13.0808 13.5808C12.7057 13.9559 12.197 14.1666 11.6666 14.1666H10.9999C10.4695 14.1666 9.96078 13.9559 9.58571 13.5808C9.21063 13.2057 8.99992 12.697 8.99992 12.1666V10.1666C8.99992 9.63615 9.21063 9.12745 9.58571 8.75237Z' fill='#828282')
                                                p.h6-14 Audiobook 
                                                    span.bold (5)
                                            li.item-sub.d-flex.align-items-center.active
                                                svg(width='16' height='13' viewbox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M14.5833 0.666748H4.08325C3.66138 0.666748 3.33325 0.994873 3.33325 1.36987V3.29175H4.45825V1.79175H5.58325V3.29175H6.70825V1.79175H11.9583V8.91675H14.5833C14.9817 8.91675 15.3333 8.61206 15.3333 8.23706V1.36987C15.3333 0.994873 14.9817 0.666748 14.5833 0.666748ZM14.2083 7.79175H13.0833V6.47925H14.2083V7.79175ZM14.2083 5.35425H13.0833V4.22925H14.2083V5.35425ZM14.2083 3.10425H13.0833V1.79175H14.2083V3.10425ZM3.33325 8.16675C3.73169 8.16675 4.08325 7.83862 4.08325 7.41675C4.08325 7.01831 3.73169 6.66675 3.33325 6.66675C2.91138 6.66675 2.58325 7.01831 2.58325 7.41675C2.58325 7.83862 2.91138 8.16675 3.33325 8.16675ZM10.0833 4.41675H1.08325C0.661377 4.41675 0.333252 4.76831 0.333252 5.16675V11.9167C0.333252 12.3386 0.661377 12.6667 1.08325 12.6667H10.0833C10.4817 12.6667 10.8333 12.3386 10.8333 11.9167V5.16675C10.8333 4.76831 10.4817 4.41675 10.0833 4.41675ZM9.70825 10.0417L7.34106 7.698C7.27075 7.62769 7.177 7.58081 7.08325 7.58081C6.96606 7.58081 6.87231 7.62769 6.802 7.698L4.45825 10.0417L3.59106 9.198C3.52075 9.12769 3.427 9.08081 3.33325 9.08081C3.21606 9.08081 3.12231 9.12769 3.052 9.198L1.45825 10.7917V5.54175H9.70825V10.0417Z' fill='#828282')
                                                p.h6-14 Video
                                                    span.bold (5)
                li.nav-item(class=`${site === "ebook" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./my-account-reading-book-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/ebook.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Ebook đang đọc
                li.nav-item(class=`${site === "account" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./my-account-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/account.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Thông tin khách hàng
                li.nav-item(class=`${site === "password-change" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./my-account-change-password-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/password-change.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Đổi mật khẩu
                li.nav-item(class=`${site === "history" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./purchase-history-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/history.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Lịch sử mua hàng
                li.nav-item(class=`${site === "money-history" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./transaction-history-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/money-history.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Lịch sử nạp tiền
                li.nav-item(class=`${site === "log-out" ? 'active': ''}`)
                    .nav-line
                    a.nav-link(href="./login-desktop.html")
                        img(class="lazy" data-src="./assets/images/my-account/log-out.svg" src="./assets/images/my-account/ebook.svg" alt="")
                        |Đăng xuất